.container {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.logo {
    margin-top: 20px;
    margin-left: 20px;
    width: 50px;
    height: 30px;
}

.tel {
    padding-left: 300px;
}

.account {
    margin-left: 800px;
    padding-left: 20px;
    color: darkgoldenrod;
    background-image: url(../img/arrow.svg);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: left;
}

.nav {
    margin: 0;
    text-decoration: none;
}

.nav-list-links {
    display: inline;
    text-decoration: none;
}

.nav-list-buttons {
    display: inline;
    color: darkgoldenrod;
    text-decoration: none;
    width: 80px;
    height: 50px;
    padding: 20px;
    margin-bottom: 150px;
    text-align: center;
    background-color: white;
    border: 1px solid darkgoldenrod;
    border-radius: 25px;
}

.offers {}

.h1 {}

.offers-list {}

.offers-item-left {}

.offers-item-header {}

.offers-item-price {}

.offers-item-morelink {}

.about {}

.about-description {}

.services {}

.services-list {}

.services-list-item {}

.advantages {}

.advantages-list {}

.advantages-item {}

.accommodation {}

.accommodation-list {}

.accommodation-item {}